<ion-header>
  <ion-navbar color="primary">
    <ion-title>Boat</ion-title>
    <ion-buttons end>
      <button ion-button block (click)='obtainServerAddrManually(true)'>
        <ion-icon *ngIf='signalK.connected' style='color: green;' name='wifi'></ion-icon>
        <ion-icon *ngIf='!signalK.connected' style='color: red;' name='wifi'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding="true" style="background-color: black;">
  <ion-slides pager color="primary">

      <ion-slide><font color="white">NAVIGATION</font>
      <div>
           <ng2-odometer
            [number]="courseover"
            [value]="courseover"
            [format]="'(dd).dd'"
            [theme]="'plaza'">
           </ng2-odometer>

            <ng2-odometer
            [number]="speedover"
            [value]="speedover"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="depthbelowTransducer"
            [value]="depthbelowTransducer"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
      </div>

      <div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

      </div>

      <div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

      </div>
     </ion-slide>

        <ion-slide><font color="white">SAILING</font>
      <div>
        <radial-gauge
          width="400"
          height="290"
          units="True|App"
          min-value="-60"
          max-value="60"
          major-ticks="[-60,-50,-40,-30,-20,-10,0,10,20,30,40,50,60]"
          minor-ticks="2"
          stroke-ticks="false"
          highlights='[ {"from": -60, "to": -30, "color": "red"},
              {"from": 30, "to": 60, "color": "green"} ]'
          ticks-angle="225"
          start-angle="67.5"
          color-major-ticks="#ddd"
          color-minor-ticks="#ddd"
          color-units="white"
          color-numbers="white"
          color-plate="black"
          border-shadow-width="0"
          borders="false"
          needle-type="arrow"
          needle-width="2"
          needle-circle-size="7"
          needle-circle-outer="true"
          needle-circle-inner="false"
          color-needle="red"
          color-needle-end="red"
          animation-duration="1500"
          animation-rule="linear"
          color-border-outer="#333"
          color-border-outer-end="#111"
          color-border-middle="#222"
          color-border-middle-end="#111"
          color-border-inner="#111"
          color-border-inner-end="#333"
          color-needle-shadow-down="red"
          color-needle-circle-outer="red"
          color-needle-circle-outer-end="red"
          color-needle-circle-inner="red"
          color-needle-circle-inner-end="red"
          value-box-border-radius="0"
          color-value-box-rect="#222"
          color-value-box-rect-end="#333"
          value-box="false"
          [attr.value]="battery">
          </radial-gauge>

          <radial-gauge
          width="400"
          height="290"
          min-value="-150"
          max-value="180"
          major-ticks="[-150,-120,-90,-60,-30,0,30,60,90,120,150,180]"
          minor-ticks="0"
          stroke-ticks="false"
          highlights='[ {"from": -60, "to": -30, "color": "red"},
              {"from": 30, "to": 60, "color": "green"} ]'
          ticks-angle="330"
          start-angle="67.5"
          color-major-ticks="#ddd"
          color-minor-ticks="#ddd"
          color-title="white"
          color-units="white"
          color-numbers="white"
          color-plate="black"
          border-shadow-width="0"
          borders="false"
          needle-type="arrow"
          needle-width="2"
          needle-circle-size="7"
          needle-circle-outer="true"
          needle-circle-inner="false"
          color-needle="red"
          color-needle-end="red"
          animation-duration="1500"
          animation-rule="linear"
          color-border-outer="#333"
          color-border-outer-end="#111"
          color-border-middle="#222"
          color-border-middle-end="#111"
          color-border-inner="#111"
          color-border-inner-end="#333"
          color-needle-shadow-down="red"
          color-needle-circle-outer="red"
          color-needle-circle-outer-end="red"
          color-needle-circle-inner="red"
          color-needle-circle-inner-end="red"
          value-box-border-radius="0"
          value-box="false"
          [attr.value]="temperature">
          </radial-gauge>
      
        <radial-gauge
          width="400"
          height="290"
          units="Kts"
          title="OpenFairWind"
          min-value="0"
          max-value="12"
          major-ticks="[0,1,2,3,4,5,6,7,8,9,10,11,12]"
          minor-ticks="2"
          stroke-ticks="false"
          highlights='[ {"from": 0, "to": 6, "color": "black"},
              {"from": 6, "to": 12, "color": "black"} ]'
          ticks-angle="225"
          start-angle="67.5"
          color-major-ticks="#ddd"
          color-minor-ticks="#ddd"
          color-title="white"
          color-units="white"
          color-numbers="white"
          color-plate="black"
          border-shadow-width="0"
          borders="false"
          needle-type="arrow"
          needle-width="2"
          needle-circle-size="7"
          needle-circle-outer="true"
          needle-circle-inner="false"
          color-needle="red"
          color-needle-end="red"
          animation-duration="1500"
          animation-rule="linear"
          color-border-outer="#333"
          color-border-outer-end="#111"
          color-border-middle="#222"
          color-border-middle-end="#111"
          color-border-inner="#111"
          color-border-inner-end="#333"
          color-needle-shadow-down="red"
          color-needle-circle-outer="red"
          color-needle-circle-outer-end="red"
          color-needle-circle-inner="red"
          color-needle-circle-inner-end="red"
          value-box-border-radius="0" 
          value-box="false"
          [attr.value]="windSpeed">
          </radial-gauge>
          </div>

          <div style="float:left;" id="contenitore">
          <div id="titolo"><font color="white">HEADING(m)</font></div>
          <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

          <div style="float:left;" id="contenitore">
          <div id="titolo"><font color="white">TWD</font></div>
          <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
          <radial-gauge
          width="190"
          height="190"
          min-value="-90"
          max-value="90"
          major-ticks="[-90,-75,-60,-45,-30,-15,0,15,30,45,60,75,90]"
          minor-ticks="2"
          stroke-ticks="false"
          highlights='[ {"from": -60, "to": -30, "color": "red"},
              {"from": 30, "to": 60, "color": "green"} ]'
          ticks-angle="225"
          start-angle="67.5"
          color-major-ticks="#ddd"
          color-minor-ticks="#ddd"
          color-title="white"
          color-units="white"
          color-numbers="white"
          color-plate="black"
          border-shadow-width="0"
          borders="false"
          needle-type="arrow"
          needle-width="2"
          needle-circle-size="7"
          needle-circle-outer="true"
          needle-circle-inner="false"
          color-needle="red"
          color-needle-end="red"
          animation-duration="1500"
          animation-rule="linear"
          color-border-outer="#333"
          color-border-outer-end="#111"
          color-border-middle="#222"
          color-border-middle-end="#111"
          color-border-inner="#111"
          color-border-inner-end="#333"
          color-needle-shadow-down="red"
          color-needle-circle-outer="red"
          color-needle-circle-outer-end="red"
          color-needle-circle-inner="red"
          color-needle-circle-inner-end="red"
          value-box-border-radius="0"
          color-value-box-rect="#222"
          color-value-box-rect-end="#333" 
          value-box="false"
          [attr.value]="windSpeed">
          </radial-gauge>
          </div>

          <div style="float:left;" id="contenitore">
          <div id="titolo"><font color="white">VMG</font></div>
          <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

          <div style="float:left;" id="contenitore">
          <div id="titolo"><font color="white">TWS</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>
          </ion-slide>



          <ion-slide> <font color="white">ENVIRONMENT</font>
          <div>
           <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            </div>

            <div>
           <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            </div>
           </ion-slide>




           <ion-slide> <font color="white">FISHING</font>
          <div>
            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">HEADING(m)</font></div>
           <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
          
            <div id="titolo"><font color="white">DEPTH</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">LIVEWELL</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">LIVEWELL</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>
            </div>

            <div>
            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">HEADING(m)</font></div>
           <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
          
            <div id="titolo"><font color="white">DEPTH</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">LIVEWELL</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">LIVEWELL</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>
            </div>
           </ion-slide>




           <ion-slide>
           <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer 
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer 
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer 
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>

            <div style="float:left;" id="contenitore">
            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>

            <div id="titolo"><font color="white">nonnet</font></div>
            <ng2-odometer 
            [number]="windSpeed"
            [value]="windSpeed"
            [format]="'(dd).dd'"
            [theme]="'plaza'"
            ></ng2-odometer>
            </div>


           </ion-slide>





</ion-slides>
</ion-content>

